Source: ros-kinetic-nao-audio
Section: misc
Priority: extra
Maintainer: Manos Tsardoulias <etsardou@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/nao_audio
Standards-Version: 3.9.2

Package: ros-kinetic-nao-audio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-nao-interaction-msgs, ros-kinetic-roslaunch, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-std-srvs
Description: Package for the Nao robot, providing access to NAOqi audio proxies
